<!-- ----------------------------------------------------------------
          ------------------- Contact Section------------------------------
          ----------------------------------------------------------------- -->

<section id="section-contact" class="section-contact" style="margin-top: -10">
   <div class="back">
      <h4 class="contact-heading">Get in touch at</h4>
      <!-- <p class="questions-heading">aseelfahadbahakeem@gmail.com</p> -->
      <footer>


         <div><a href="https://www.linkedin.com/in/aseel-bahakeem-206b47200/">
               <ion-icon name="logo-linkedin" role="img" class="md hydrated" aria-label="logo linkedin">
               </ion-icon>
            </a></div>
         <div><a href="https://github.com/aseelbahakeem">
               <ion-icon name="logo-github" role="img" class="md hydrated" aria-label="logo github">
               </ion-icon>
            </a></div>
         <div><a href="mailto:aseelfahadbahakeem@gmail.com">
               <ion-icon name="mail-unread-outline" role="img" class="md hydrated " aria-label="mail outline">
               </ion-icon>
            </a></div>

      </footer>
      <p class="copyright">©Aseel Bahakeem 2023</p>
   </div>


</section>