<head>
        <!--==================================================
             ---------------Basic Page Needs-------------------
             ================================================== -->

        <meta charset="utf-8" />
        <style data-styles="">
                ion-icon {
                        visibility: hidden;
                }

                .hydrated {
                        visibility: inherit;
                }
        </style>
        <script>
                $(function () {
                        $(document).scroll(function () {
                                var $nav = $(".navbar-fixed-top");
                                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
                        });
                });
        </script>





        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <meta name="description" content="My personal website" />
        <link rel="new-icon" href="/favicon.ico?v=2" />
        <link rel="manifest" href="/manifest.json" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&amp;display=swap"
                rel="stylesheet" />
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule="" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <title>Aseel Bahakeem</title>


        <link rel="stylesheet" href="/static/css/components/About/NavLinks.css" />


        <!----===== CSS ================================================== -->
        <link rel="stylesheet" href="/css/blog.css" />
        <link rel="stylesheet" href="/css/Footer.css" />
        <link rel="stylesheet" href="/css/LandingPage.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/MainNavigation.css" />
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/styles.css" />

        <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cantata+One&display=swap" rel="stylesheet">

        <!-- Mobile Specific Metas
             ================================================== -->
        <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' id='elementor-frontend-css'
                href='https://websitedemos.net/tech-blogger-04/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=3.13.4'
                media='all' />
        <link rel='stylesheet' id='elementor-post-67-css'
                href='https://websitedemos.net/tech-blogger-04/wp-content/uploads/sites/817/elementor/css/post-67.css?ver=1643275261'
                media='all' />

        <!--font-->
        <link href="https://api.fontshare.com/v2/css?f[]=boska@400&display=swap" rel="stylesheet">


</head>