<!---------------------------------------------------
 ----------------- Blog Section ---------------------
----------------------------------------------------->
<!-- 
 
  This file represents the blog view of the personal website.
-->
<!-- -->
<section id="portfolio">

  <div data-elementor-type="wp-page" data-elementor-id="67" class="elementor elementor-67">


    <section
      class="elementor-section elementor-top-section elementor-element elementor-element-8950b66 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
      data-id="8950b66" data-element_type="section">
      <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6429763"
          data-id="6429763" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-b06e7ee elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
              data-id="b06e7ee" data-element_type="widget" data-widget_type="divider.default">

            </div>
            <div class="elementor-element elementor-element-a7944e9 elementor-widget elementor-widget-heading"
              data-id="a7944e9" data-element_type="widget" data-widget_type="heading.default">

              <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default" style="text-align: center;">
                  Popular Posts
                </h2>
                <p style="text-align: center;" class="blog-paragraph">Computer science, programming, and other topics
                </p>
              </div>

            </div>
            <section
              class="elementor-section elementor-inner-section elementor-element elementor-element-a992c37 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
              data-id="a992c37" data-element_type="section">
              <div style="margin-bottom: 4rem;" class="elementor-container elementor-column-gap-no">
                <div
                  class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ec576e3"
                  data-id="ec576e3" data-element_type="column"
                  data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                  <div style="margin-left: 2rem; margin-right: 2rem;"
                    class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-72a2b96 elementor-widget elementor-widget-image"
                      data-id="72a2b96" data-element_type="widget" data-widget_type="image.default">
                      <div class="elementor-widget-container">
                        <a
                          href="https://aseelbahakeem.medium.com/is-googles-search-engine-powered-by-artificial-intelligence-5a98ab0d9e3a">
                          <img decoding="async" width="370" height="250" src="/images/GoogleRankBrain.jpg"
                            style="margin:0;" class="attachment-full size-full wp-image-144" alt="" loading="lazy"
                            srcset="/images/GoogleRankBrain.jpg 370w, /images/GoogleRankBrain.jpg 300w"
                            sizes="(max-width: 360px) 100vw, 370px" />
                        </a>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-af91a26 elementor-widget elementor-widget-heading"
                      data-id="af91a26" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                        <span class="elementor-heading-title elementor-size-default">
                          <a
                            href="https://aseelbahakeem.medium.com/is-googles-search-engine-powered-by-artificial-intelligence-5a98ab0d9e3a">Artificial
                            Intelligence</a>
                        </span>
                      </div>
                    </div>
                    <div style="margin: 0;"
                      class="elementor-element elementor-element-81172cb elementor-widget elementor-widget-heading"
                      data-id="81172cb" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">
                          <a
                            href="https://aseelbahakeem.medium.com/is-googles-search-engine-powered-by-artificial-intelligence-5a98ab0d9e3a">
                            Is
                            Google’s
                            Search
                            Engine
                            Powered
                            by
                            Artificial
                            Intelligence?</a>
                        </h4>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-21cd61d elementor-widget elementor-widget-text-editor"
                      data-id="21cd61d" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <p>Have you
                          ever
                          wondered
                          when
                          you
                          are
                          searching
                          for
                          something..
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ec576e3"
                  data-id="ec576e3" data-element_type="column"
                  data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                  <div style="margin-left: 2rem; margin-right: 2rem;"
                    class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-72a2b96 elementor-widget elementor-widget-image"
                      data-id="72a2b96" data-element_type="widget" data-widget_type="image.default">
                      <div class="elementor-widget-container">
                        <a
                          href="https://aseelbahakeem.medium.com/linked-lists-what-are-they-and-how-do-they-work-1f0256a3e6">
                          <img decoding="async" width="370" height="250" src="/images/linkedlistblogpost.jpg"
                            style="margin: 0;" class="attachment-full size-full wp-image-144" alt="" loading="lazy"
                            srcset="/images/linkedlistblogpost.jpg 370w, /images/linkedlistblogpost.jpg 300w"
                            sizes="(max-width: 370px) 100vw, 370px" />
                        </a>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-af91a26 elementor-widget elementor-widget-heading"
                      data-id="af91a26" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                        <span class="elementor-heading-title elementor-size-default">
                          <a
                            href="https://aseelbahakeem.medium.com/linked-lists-what-are-they-and-how-do-they-work-1f0256a3e6">Programming</a>
                        </span>
                      </div>
                    </div>
                    <div style="margin: 0;"
                      class="elementor-element elementor-element-81172cb elementor-widget elementor-widget-heading"
                      data-id="81172cb" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">
                          <a
                            href="https://aseelbahakeem.medium.com/linked-lists-what-are-they-and-how-do-they-work-1f0256a3e6">Linked
                            lists:
                            what
                            are
                            they
                            and
                            how
                            do
                            they
                            work?</a>
                        </h4>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-21cd61d elementor-widget elementor-widget-text-editor"
                      data-id="21cd61d" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <p>For computer
                          scientists
                          to
                          be
                          able
                          to
                          use
                          data
                          efficiently,
                          they
                          need
                          to..
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ec576e3"
                  data-id="ec576e3" data-element_type="column"
                  data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                  <div style="margin-left: 2rem; margin-right: 2rem;"
                    class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-72a2b96 elementor-widget elementor-widget-image"
                      data-id="72a2b96" data-element_type="widget" data-widget_type="image.default">
                      <div class="elementor-widget-container">
                        <a
                          href="https://aseelbahakeem.medium.com/this-is-how-the-dumb-ways-to-die-marketing-campaign-succeeded-4b6042a24900">
                          <img decoding="async" width="370" height="250" src="/images/trainblog.jpg" style="margin: 0;"
                            class="attachment-full size-full wp-image-144" alt="" loading="lazy"
                            srcset="/images/trainblog.jpg 370w, /images/trainblog.jpg 300w"
                            sizes="(max-width: 370px) 100vw, 370px" />
                        </a>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-af91a26 elementor-widget elementor-widget-heading"
                      data-id="af91a26" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                        <span class="elementor-heading-title elementor-size-default">
                          <a
                            href="https://aseelbahakeem.medium.com/this-is-how-the-dumb-ways-to-die-marketing-campaign-succeeded-4b6042a24900">Digital
                            marketing</a>
                        </span>
                      </div>
                    </div>
                    <div style="margin: 0;"
                      class="elementor-element elementor-element-81172cb elementor-widget elementor-widget-heading"
                      data-id="81172cb" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">
                          <a
                            href="https://aseelbahakeem.medium.com/this-is-how-the-dumb-ways-to-die-marketing-campaign-succeeded-4b6042a24900">
                            This is
                            how
                            the
                            “dumb
                            ways
                            to
                            die”marketing
                            campaign
                            succeeded</a>
                        </h4>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-21cd61d elementor-widget elementor-widget-text-editor"
                      data-id="21cd61d" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <p>There was
                          a
                          time,
                          the
                          “Dumb
                          Ways
                          to
                          Die”
                          video
                          on
                          YouTube
                          was..
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

      </div>
      <!-- <div class="elementor-container elementor-column-gap-no">
        <div 
          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6429763"
          data-id="6429763" data-element_type="column">
          <div class="elementor-widget-wrap elementor-element-populated">
            <div
              class="elementor-element elementor-element-b06e7ee elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
              data-id="b06e7ee" data-element_type="widget" data-widget_type="divider.default">

            </div>
            <div class="elementor-element elementor-element-a7944e9 elementor-widget elementor-widget-heading"
              data-id="a7944e9" data-element_type="widget" data-widget_type="heading.default">
              <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default" style="text-align: center;">
                  Popular Posts
                </h2>
                <p style="text-align: center;" class="blog-paragraph">Computer science, programming, and other topics
                </p>
              </div>
            </div>
            <section
              class="elementor-section elementor-inner-section elementor-element elementor-element-a992c37 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
              data-id="a992c37" data-element_type="section">
              <div style="margin-bottom: 4rem;" class="elementor-container elementor-column-gap-no">
                <div
                  class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ec576e3"
                  data-id="ec576e3" data-element_type="column"
                  data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                  <div style="margin-left: 2rem; margin-right: 2rem;"
                    class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-72a2b96 elementor-widget elementor-widget-image"
                      data-id="72a2b96" data-element_type="widget" data-widget_type="image.default">
                      <div class="elementor-widget-container">
                        <a
                          href="https://aseelbahakeem.medium.com/is-googles-search-engine-powered-by-artificial-intelligence-5a98ab0d9e3a">
                          <img decoding="async" width="370" height="250" src="/images/GoogleRankBrain.jpg"
                            style="margin:0;" class="attachment-full size-full wp-image-144" alt="" loading="lazy"
                            srcset="/images/GoogleRankBrain.jpg 370w, /images/GoogleRankBrain.jpg 300w"
                            sizes="(max-width: 360px) 100vw, 370px" />
                        </a>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-af91a26 elementor-widget elementor-widget-heading"
                      data-id="af91a26" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                        <span class="elementor-heading-title elementor-size-default">
                          <a
                            href="https://aseelbahakeem.medium.com/is-googles-search-engine-powered-by-artificial-intelligence-5a98ab0d9e3a">Artificial
                            Intelligence</a>
                        </span>
                      </div>
                    </div>
                    <div style="margin: 0;"
                      class="elementor-element elementor-element-81172cb elementor-widget elementor-widget-heading"
                      data-id="81172cb" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">
                          <a
                            href="https://aseelbahakeem.medium.com/is-googles-search-engine-powered-by-artificial-intelligence-5a98ab0d9e3a">
                            Is
                            Google’s
                            Search
                            Engine
                            Powered
                            by
                            Artificial
                            Intelligence?</a>
                        </h4>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-21cd61d elementor-widget elementor-widget-text-editor"
                      data-id="21cd61d" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <p>Have you
                          ever
                          wondered
                          when
                          you
                          are
                          searching
                          for
                          something..
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ec576e3"
                  data-id="ec576e3" data-element_type="column"
                  data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                  <div style="margin-left: 2rem; margin-right: 2rem;"
                    class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-72a2b96 elementor-widget elementor-widget-image"
                      data-id="72a2b96" data-element_type="widget" data-widget_type="image.default">
                      <div class="elementor-widget-container">
                        <a
                          href="https://aseelbahakeem.medium.com/linked-lists-what-are-they-and-how-do-they-work-1f0256a3e6">
                          <img decoding="async" width="370" height="250" src="/images/linkedlistblogpost.jpg"
                            style="margin: 0;" class="attachment-full size-full wp-image-144" alt="" loading="lazy"
                            srcset="/images/linkedlistblogpost.jpg 370w, /images/linkedlistblogpost.jpg 300w"
                            sizes="(max-width: 370px) 100vw, 370px" />
                        </a>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-af91a26 elementor-widget elementor-widget-heading"
                      data-id="af91a26" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                        <span class="elementor-heading-title elementor-size-default">
                          <a
                            href="https://aseelbahakeem.medium.com/linked-lists-what-are-they-and-how-do-they-work-1f0256a3e6">Programming</a>
                        </span>
                      </div>
                    </div>
                    <div style="margin: 0;"
                      class="elementor-element elementor-element-81172cb elementor-widget elementor-widget-heading"
                      data-id="81172cb" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">
                          <a
                            href="https://aseelbahakeem.medium.com/linked-lists-what-are-they-and-how-do-they-work-1f0256a3e6">Linked
                            lists:
                            what
                            are
                            they
                            and
                            how
                            do
                            they
                            work?</a>
                        </h4>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-21cd61d elementor-widget elementor-widget-text-editor"
                      data-id="21cd61d" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <p>For computer
                          scientists
                          to
                          be
                          able
                          to
                          use
                          data
                          efficiently,
                          they
                          need
                          to..
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ec576e3"
                  data-id="ec576e3" data-element_type="column"
                  data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                  <div style="margin-left: 2rem; margin-right: 2rem;"
                    class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-72a2b96 elementor-widget elementor-widget-image"
                      data-id="72a2b96" data-element_type="widget" data-widget_type="image.default">
                      <div class="elementor-widget-container">
                        <a
                          href="https://aseelbahakeem.medium.com/this-is-how-the-dumb-ways-to-die-marketing-campaign-succeeded-4b6042a24900">
                          <img decoding="async" width="370" height="250" src="/images/trainblog.jpg" style="margin: 0;"
                            class="attachment-full size-full wp-image-144" alt="" loading="lazy"
                            srcset="/images/trainblog.jpg 370w, /images/trainblog.jpg 300w"
                            sizes="(max-width: 370px) 100vw, 370px" />
                        </a>
                      </div>
                    </div>
                    <div class="elementor-element elementor-element-af91a26 elementor-widget elementor-widget-heading"
                      data-id="af91a26" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                        <span class="elementor-heading-title elementor-size-default">
                          <a
                            href="https://aseelbahakeem.medium.com/this-is-how-the-dumb-ways-to-die-marketing-campaign-succeeded-4b6042a24900">Digital
                            marketing</a>
                        </span>
                      </div>
                    </div>
                    <div style="margin: 0;"
                      class="elementor-element elementor-element-81172cb elementor-widget elementor-widget-heading"
                      data-id="81172cb" data-element_type="widget" data-widget_type="heading.default">
                      <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">
                          <a
                            href="https://aseelbahakeem.medium.com/this-is-how-the-dumb-ways-to-die-marketing-campaign-succeeded-4b6042a24900">
                            This is
                            how
                            the
                            “dumb
                            ways
                            to
                            die”marketing
                            campaign
                            succeeded</a>
                        </h4>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-21cd61d elementor-widget elementor-widget-text-editor"
                      data-id="21cd61d" data-element_type="widget" data-widget_type="text-editor.default">
                      <div class="elementor-widget-container">
                        <p>There was
                          a
                          time,
                          the
                          “Dumb
                          Ways
                          to
                          Die”
                          video
                          on
                          YouTube
                          was..
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

      </div> -->
    </section>
  </div>
  </div>

  </main>
</section>